# GitHub Actions cache
/.github/.cache

# dbt core project
target/
logs/
dbt_packages/
dbt_modules/

# Docker cache / volumes
docker/logs/
docker/minio/
docker/plugins/
docker/postgres/

# dbt project inside banking_dbt (only cache/output, NOT source)
banking_dbt/.dbt/
banking_dbt/logs/
banking_dbt/target/

# Python cache
__pycache__/
*.pyc

# Secrets and env files
.env
.env.*

# IDE & OS files
.vscode/
.idea/
.DS_Store

# Docker override
docker-compose.override.yml

