# GitHub Actions cache
/.github/.cache

# dbt directories
target/
logs/
dbt_packages/
dbt_modules/

# Docker cache
docker/logs/
docker/minio/
docker/plugins/
docker/postgres/

# DBT cache (inside banking_dbt project folder)
banking_dbt/.dbt/
banking_dbt/logs/
banking_dbt/target/

# Python cache
__pycache__/
*.pyc

# Secrets and config
.env

# IDE & OS files
.vscode/
.idea/
.DS_Store

# Docker override
docker-compose.override.yml
